.uniForm{ background: #dde8ec; }
    .uniForm .ctrlHolder{ padding: 1em; border-bottom: 1px solid #c4ced1; }
    .uniForm .ctrlHolder.focused{ background: #e1f0f6; }
        
      .uniForm .textInput,
      .uniForm textarea    { padding: 4px 2px; border: 1px solid #b2babe; background: #fff;
                             /* CSS3 */
                             border-radius:         3px;
                             -webkit-border-radius: 3px;
                             -moz-border-radius:    3px;
                             -o-border-radius:      3px;
                             -khtml-border-radius:  3px;
                             font-family: 'Courier New', Courier, monospace;
                             font-size: 15px;
                             text-align: right;
                           }
      .uniForm .dollar, .output { font-family: 'Courier New', Courier, monospace;
                                }
      .uniForm .output { font-size: 15px; }
      .uniForm .dollar { padding: 4px 2px 0px 2px; font-size: 20px; }
      .uniForm .output { padding: 4px 8px 4px 2px; }
      
      .uniForm .ctrlHolder .textInput:focus,
      .uniForm .ctrlHolder textarea:focus{ outline: none; }
      
      .uniForm .formHint                    { font-size: .85em; color: #777; }
      .uniForm .ctrlHolder.focused .formHint{ color: #333; }
