#budgetForm{ background: #dde8ec; }
    #budgetForm .ctrlHolder{ padding: 1em; border-bottom: 1px solid #c4ced1; }
    #budgetForm .ctrlHolder.focused{ background: #e1f0f6; }
        
      #budgetForm .textInput,
      #budgetForm textarea    { padding: 4px 2px; border: 1px solid #b2babe; background: #fff;
                             /* CSS3 */
                             border-radius:         3px;
                             -webkit-border-radius: 3px;
                             -moz-border-radius:    3px;
                             -o-border-radius:      3px;
                             -khtml-border-radius:  3px;
                             font-family: 'Courier New', Courier, monospace;
                             font-size: 15px;
                             text-align: right;
                           }
      #budgetForm .dollar, .output { font-family: 'Courier New', Courier, monospace;
                                }
      #budgetForm .output { font-size: 15px; }
      #budgetForm .dollar { padding: 4px 2px 0px 2px; font-size: 20px; }
      #budgetForm .output { padding: 4px 8px 4px 2px; }
      
      #budgetForm .ctrlHolder .textInput:focus,
      #budgetForm .ctrlHolder textarea:focus{ outline: none; }
      
      #budgetForm .formHint                    { font-size: .85em; color: #777; }
      #budgetForm .ctrlHolder.focused .formHint{ color: #333; }
