/* ------------------------------------------------------------------------------ */
/* #############################   GENERALS   ################################### */
/* ------------------------------------------------------------------------------ */

.uniForm{ margin: 0; padding: 0; position: relative; z-index: 1; } /* reset stuff */
  
  /* Some generals and more resets */
  .uniForm fieldset{ border: none; margin: 0; padding: 0; }
  .uniForm .info{ border: none; margin: 0; padding: 0; }
  .uniForm .formHint{ border: none; margin: 0.8em 0 0 0; padding: 0 0 0 0; }
    
    /* This are the main units that contain form elements */
    .uniForm .ctrlHolder{ margin: 0; padding: 0; clear: both; }
    
    /* Clear all floats */ 
    .uniForm:after,
      .uniForm .ctrlHolder:after, 
          .uniForm .inlineLabel:after{ content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }

/* ------------------------------------------------------------------------------ */
/* #########################   ALTERNATE LAYOUT   ############################### */
/* ------------------------------------------------------------------------------ */
/*    Styles for form controls where labels are in line with the input elements   */
/*    Set the class of the parent (preferably to a fieldset) to .inlineLabels     */
/* ------------------------------------------------------------------------------ */

      .uniForm .inlineLabels .info{ float: left; margin: .3em 2% 0 0; padding: 0; line-height: 1; position: relative; width: 22%; }
      
      /* Float the input elements */
      .uniForm .inlineLabels .textInputHolder,
      .uniForm .inlineLabels .selectInputHolder{ float: left; width: 37%; text-align: right; }
      .uniForm .inlineLabels .textOutputHolder { float: left; width: 74%; text-align: right; }

/* ----------------------------------------------------------------------------- */
/* ########################### Additional Stuff ################################ */
/* ----------------------------------------------------------------------------- */

  /* Generals */
      .uniForm .secondaryAction{ float: left; }
      
      /* .inlineLabel is used for inputs within labels - checkboxes and radio buttons */
      .uniForm .inlineLabel input,
      .uniForm .inlineLabels .inlineLabel input,
      .uniForm .blockLabels .inlineLabel input,
      /* class .inlineLabel is depreciated */
            
      .uniForm .buttonHolder .inlineLabel,
      .uniForm .buttonHolder label{ float: left; margin: .5em 0 0 0; width: auto; max-width: 60%; text-align: left; }
      
      /* When you don't want to use a label */
      .uniForm .inlineLabels .noLabel ul{ margin-left: 34%; /* Match to width of label + gap to field */ }
      
      /* Classes for control of the widths of the fields */
      .uniForm .small { width: 30% !important; }
      .uniForm .small{ margin-right: 4px; }

/* Columns */
.uniForm .col{ float: left; }
.uniForm .col{ width: 50%; }
